<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" router-link="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" router-link="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" router-link="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" router-link="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" router-link="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" router-link="#" role="button" aria-haspopup="true" aria-expanded="false">Data Binding</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" router-link="interpolation">Interpolation</a>
              <a class="dropdown-item" router-link="property-binding">Property-Binding</a>
              <a class="dropdown-item" router-link="event-binding">Event Binding</a>
              <a class="dropdown-item" router-link="two-way">Two-way Binding</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" router-link="#" role="button" aria-haspopup="true" aria-expanded="false">Other</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" router-link="attribute">Attribute</a>
              <a class="dropdown-item" router-link="class">Class</a>
              <a class="dropdown-item" router-link="style">Style</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>